[access]
	inheritFrom = Private-Projects
[submit]
[access "refs/*"]
	owner = group schooldemotestinggroup
	owner = group user/Qoignis
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Qoignis
	label-Verified = -1..+1 group user/Qoignis
	push = group user/Qoignis
	read = group user/Qoignis
	rebase = group user/Qoignis
	removeReviewer = group user/Qoignis
	submit = group user/Qoignis
[access "refs/heads/*"]
	create = group user/Qoignis
	push = +force group user/Qoignis
	pushMerge = group user/Qoignis
	read = group user/Qoignis
[access "refs/tags/*"]
	push = group user/Qoignis
	push = +force group user/Qoignis
